.landing__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 2rem;
}

.landing__text h1 {
  font-size: 4rem;
}

.landing__text {
  width: 40%; 
}

.landing__img {
  width: 50%; 
  margin-left: 2rem;
}


@media (max-width: 913px) {
  .landing__text {
    margin-top: 100px;
    width: 100%; 
    text-align: center;
  }

  .landing__img {
    display: none; 
  }
}

.landing__img img {
  width: 100%;
  height: auto;
}
